/* Styling for DC_Blog */

body {
    background-color: #f3f3f3;
    color: #4d5558;
}

#logo-header {
    display: inline-block;
    width: 49%;
    /*border: 3px dashed black;*/
}

#logo-header>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
}

#logo-header>p>img {
    height: 23px;
    margin-top: 3%;
    margin-left: 10px;
    margin-right: 10px;
    
}

#header-menu {
    float: right;
    width: 49%;
    margin-top: 3%;
    /*border: 3px dashed black;*/
    
}

#header-menu>ul {
    list-style-type: none;
    margin-left: 50px;
}

#header-menu>ul>li {
    display: inline;
    margin-right: 10px;
    padding: 20px;
}

#header-menu a {
    color: inherit;
    text-decoration: inherit;

}

#h1-title {
    font-family: 'Arial Narrow', Arial;
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#h1-title>h1 {
    font-weight: 200;
}


#button {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-left: 43%;
}
#button>p {
    text-align: center;
    color: #b5b5b5;
}

button {

    margin-left: 12px;
    background-color: #4b98c4;
    width: 130px;
    height: 33px;
}

button a {
    font-family: Arial;
    color: white;
    text-decoration: inherit;
}

#main-content {
    margin: 0 auto;
    width: 70%;
}

footer {
    clear: both;
}

footer hr {
    width: 70%;
}

#footer-menu {
    display: inline-block;
    width: 49%;
    margin-left: 8%;
}

#footer-menu>ul {
    margin-top: 2px;
    list-style-type: none;
  
}

#footer-menu>ul>li {
    color: #b5b5b5;
    display: inline;
    padding: 20px;
}

footer p {
    margin-left: 45%;
}